@model Lab3.Models.ParticipantCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ParticipantCreateModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Participant"))
        {
            @Html.Hidden("redirectUrl", (string)ViewBag.redirectUrl)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.EditorFor(m => m.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.EditorFor(m => m.LastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Age)
                @Html.EditorFor(m => m.Age)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
